Repository My-Epitech-Organisation/Arcade, pull requests merged in 2025-04, with the labels that each got.

#76 [PR](Qt5): Added support for Qt5 Graphic library and fixed some GTK issue
  .github/workflows/Pain au chocolat.yml
  CMakeLists.txt
  README.md
  src/Graphics/Allegro5/Allegro5Utils/Allegro5Event.cpp
  src/Graphics/CMakeLists.txt
  src/Graphics/GTK+/GTK.cpp
  src/Graphics/GTK+/GTK.hpp
  src/Graphics/Qt5/CMakeLists.txt
  src/Graphics/Qt5/Qt5.cpp
  src/Graphics/Qt5/Qt5.hpp
  src/Graphics/Qt5/Qt5Color.hpp
  src/Graphics/Qt5/Qt5Keys.hpp
  src/Graphics/Qt5/Qt5Utils.cpp
Labels: 🎨 Graphics, 📦 Dynamic Library

#79 [FIX](Qt5): Adapted Qt5 to new architecture
  src/Graphics/Qt5/Qt5.cpp
  src/Graphics/Qt5/Qt5.hpp
Labels: 🎨 Graphics, 📦 Dynamic Library, ⚙️ Refactoring, 🔄 Integration

#81 80 fix ncurses display after json parsing change
  src/Graphics/NCurses/NCurses.cpp
Labels: 🛠 Bug, 🏗 Core System
